app_dir: /path/to/remote/app/directory
project_name: 'projectname'
project_description: 'Project Description'
repository_url: YOUR_GIT_REPOSITORY_URL
branch_url: '{repository_url}/tree/{branch}'
user: username

# port defaults to 22
port: SERVER_SSH_PORT

# defaults to ~/.ssh/id_rsa
key_filename: /path/to/private/key/file

logging:
    files:
        - /path/to/log/file.log
        - /path/to/another/log/file.log

# systemctl service name for your application
# NOTE: Currently, this is tightly coupled with systemd for process management
# we'll make it usable without systemd in the future releases.
service: your-app.service
stages:
    dev:
        host: dev.your-application.com
        public_url: 'https://dev.your-application.com'
        branch: dev

    qa:
        host: qa.your-application.com
        public_url: 'https://qa.your-application.com'
        branch: qa

    staging:
        host: staging.your-application.com
        public_url: 'https://staging.your-application.com'
        branch: staging

    production:
        host: your-application.com
        public_url: 'https://your-application.com'
        branch: master
        user: priduction_username
        port: PRODUCTION_SSH_PORT
        key_filename: /path/to/production/private/key/file
        logging:
            files:
                - /path/to/production/log/file.log
                - /path/to/production/another/log/file.log

notifications:
    slack:
        enabled: true
        # Slack path that identifies your slack channel
        # following https://hooks.slack.com/services.
        # Note: Leading slash is required.
        # For example:
        #   endpoint: /xxxxxxxxx/xxxxxxxxx/xxxxxxxxxxxxxxxxxxxxxxxx
        #
        endpoint: SLACK_ENDPOINT_HERE
    hipchat:
        enabled: true
        #
        # Whether this message should trigger a user
        # notification (change the tab color, play a sound,
        # notify mobile phones, etc).
        notify: true
        #
        # Company name used in Hipchat. You can find it in your
        # Hipchat url
        company_name: COMPANY_NAME
        #
        # Room id
        room_id: ROOM_ID
        #
        # Access token
        auth_token: AUTH_TOKEN


